body{
    background-color: bisque;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.style{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

button{
    background-color: rgb(216, 117, 51);
    width: 200px;
    height: 50px;
    font-size: 18px;
    border-radius: 20%;
}